::ng-deep .mat-mdc-tab .mdc-tab__text-label {
  color: black !important;
  font-weight: normal !important;
}

::ng-deep .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
   color: #1e3a8a !important;
  font-weight: bold !important;
}

::ng-deep .mat-mdc-tab .mdc-tab-indicator__content--underline {
  border-color: #1e3a8a !important; 
}
