.sidebar {
    width: 350px;
    background: #ffffff;
    color: #010101;
    padding: 20px;
    position: fixed;
    height: 100%;
    transition: transform 0.3s ease;
    z-index: 1000;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #e9e7e7 #e9e5e5;
}

.sidebar::-webkit-scrollbar {
    width: 8px;
}

.sidebar::-webkit-scrollbar-track {
    background: #2a2a2a;
}

.sidebar::-webkit-scrollbar-thumb {
    background: #555555;
    border-radius: 4px;
}
.sidebar h2 {
    font-size: 1.8rem;
    margin-bottom: 30px;
    text-align: center;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.sidebar h2 i {
    font-size: 1.5rem;
}
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-bottom: 50px;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 12px 15px;
    align-items: center;
    border-radius: 5px;
    gap: 10px;
    display: flex;
    transition: background 0.3s, color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #d7d5d5;
    color: #000000;
}

.sidebar ul li a i {
    font-size: 1.2rem;
}
.main-content {
    margin-left: 350px;
    flex-grow: 1;

}

@media (max-width: 1024px) {
    .sidebar {
        display: none !important;
    }

    .main-content {
        margin-left: 0px;
        flex-grow: 1;
    }
}