.same-size-card {
  height: 400px;   
}
h4 {
    background: linear-gradient(135deg, #1e3a8a, #3b82f6);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 32px;
    font-weight: 800;
}