<app-tittle [title]="titulo" [icon]="icono" />
<div class="container my-4 pb-2">
    <header class="bg-white p-4 rounded-4 shadow-sm border mb-4">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4">
                <app-card-item [titulo]="tituloTotalModerador" [data]="totalModerador" />
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <app-card-item [titulo]="tituloTotalModeradorActivos" [data]="totalActivos" />
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <app-card-item [titulo]="tituloTotalModeradorInactivos" [data]="totalInactivos" />
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <app-bar-chart [title]="tituloBarChart" [labels]="labelsHistorial" [data]="dataHistorial" />
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <app-pie-chart [title]="tituloPieChart" [labels]="labelsHistorial" [data]="dataHistorial" />
            </div>
        </div>
    </header>
</div>