<app-tittle [title]="titulo" [icon]="icono" />
<div class="container my-4 pb-2">
    <header class="bg-white p-4 rounded-4 shadow-sm border mb-4">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6">
                <app-bar-chart titulo="Porcentaje de Actividad por Módulo" [labels]="labelsModulo"
                    [data]="dataPorcentaje" />
            </div>

            <div class="col-12 col-sm-6 col-md-6">
                <app-pie-chart titulo="Porcentaje por Módulo" [labels]="labelsModulo" [data]="dataPorcentaje" />
            </div>

        </div>
    </header>
</div>