<div class="container content-area p-3 p-md-4">
    <!-- HEADER -->
    <div class="card-header text-center">
        <h2>{{titulo}}</h2>
    </div>

    <!-- BODY -->
    <div class="card-body">
        <p class="text-center mb-4" [innerHTML]="getHTML()"></p>

        <!-- Input -->
        <div *ngIf="razon && razon.trim() !== ''" class="mb-4">
            <input #input class="form-control" [placeholder]="razon" />
        </div>

        <!-- BOTONES -->
        <div class="d-flex justify-content-center flex-wrap gap-3">
            <app-button label="Confirmar" icon="fas fa-check-circle" color="confirmar"
                (click)="close('CONFIRMAR')"></app-button>

            <app-button label="Cancelar" icon="fas fa-times-circle" color="cancelar"
                (click)="close('CANCELAR')"></app-button>
        </div>
    </div>
</div>
