<div class="container my-4 pb-5">
    <header class="bg-white p-4 rounded-4 shadow-sm border mb-4">
        <div
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-start text-center text-md-start">
            <h1 class="fw-bold mb-0 gradient-title display-6 display-md-5">
                <i class="fas fa-crown me-2 gradient-icon"></i>
                Panel de Administrador
            </h1>
        </div>
    </header>

    <div class="content-area ">
        <div class="row g-4">
            <div class="col-md-6 col-lg-4">
                <app-card-item titulo="Usuarios Total" data="12,847" />

            </div>
            <div class="col-md-6 col-lg-4">
                <app-card-item titulo="Registros Nuevos" data="1,234" />
            </div>
            <div class="col-md-6 col-lg-4">
                <app-card-item titulo="Alertas" data="25" />

            </div>
            <div class="col-md-6 col-lg-4">
                <app-card-item titulo="Encuestas" data="25" />
            </div>
            <div class="col-md-6 col-lg-4">
                <app-card-item titulo="Encuestas" data="25" />
            </div>
            <div class="col-md-6 col-lg-4">
                <app-card-item titulo="Encuestas" data="25" />
            </div>
            <div class="col-md-6 col-lg-4">
                <app-card-item titulo="Encuestas" data="25" />
            </div>
            <div class="col-md-6 col-lg-4">
                <app-card-item titulo="Encuestas" data="25" />
            </div>
            <div class="col-md-6 col-lg-4">
                <app-card-item titulo="Encuestas" data="25" />
            </div>
        </div>
    </div>
</div>