<app-tittle [title]="titulo" [icon]="icono" />
<app-button label="Eliminar" icon="fas fa-trash" color="eliminar"></app-button>

<app-button label="Detalle" icon="fas fa-info-circle" color="detalle"></app-button>

<app-button label="Registrar" icon="fas fa-plus-circle" color="registrar"></app-button>

<app-button label="Suspender" icon="fas fa-pause-circle" color="suspender"></app-button>

<app-button label="Bloquear" icon="fas fa-lock" color="bloquear"></app-button>

<app-button label="Inhabilitado" icon="fas fa-ban" color="inhabilitado"></app-button>
<app-button label="Desactivar" icon="fas fa-user-slash" color="desactivar"></app-button>

<app-button label="Imprimir" icon="fas fa-print" color="imprimir"></app-button>
<app-button label="Actualizar" icon="fas fa-sync-alt" color="actualizar"></app-button>
