<div class="container my-4 pb-5">
  <header class="bg-white p-4 rounded-4 shadow-sm border mb-4">
    <div
      class="d-flex flex-column flex-md-row align-items-center justify-content-center justify-content-md-start text-center text-md-start gap-2 flex-wrap">
      
      <i [class]="icon + ' fs-2 fs-md-5 gradient-icon me-2 flex-shrink-0'"></i>
      
      <h1 class="fw-bold mb-0 gradient-title display-6 display-md-5 text-break">
        {{ title }}
      </h1>
      
    </div>
  </header>
</div>
