i {
    font-size: 50px;
    margin-bottom: 25px;
    display: block;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #1e3a8a, #3b82f6);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.number {
    font-size: 36px;
    font-weight: 800;
    background: linear-gradient(135deg, #1e3a8a, #3b82f6);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}