.info-card {
  background: #f9fafb;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.custom-switch {
    display: flex;
    align-items: center;
}

.big-switch {
    width: 70px;
    height: 38px;
    cursor: pointer;
}

.big-switch:after {
    width: 30px;
    height: 30px;
    top: 3px;
    left: 3px;
}

.big-switch:checked {
    background-color: #1e3a8a !important;
    border-color: #1e3a8a !important;
}

.big-switch:checked:after {
    transform: translateX(32px);
}

.big-switch {
    background-color: #d1d1d1;
    border-color: #bdbdbd;
}

.big-switch,
.big-switch:after {
    transition: 0.3s ease;
}