.icon-bounce {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    background: #1e3a8a;
    backdrop-filter: blur(10px);
    margin-bottom: 20px;
}

.icon-bounce i {
    font-size: 45px;
    background:  #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-gradient {
    background: #1e3a8a;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800 !important;
    font-size: 1.4rem !important;
    margin-bottom: 12px;
    letter-spacing: -0.5px;
}

.number-counter {

    background:  #1e3a8a;
    background-clip: text;
     font-weight: bold;
    -webkit-text-fill-color: transparent;
}